/* logo formatting */

.logo{
    padding-top: 12%;
}

.logo-img{
    display: flex;
    margin: auto;
}

/* search bar */

.bar-search{
    display: flex;
    margin: 1% auto;
    padding: 0.6%;
    border-radius: 15px;
    border: 1px lightgray solid;
    width: 25%;
}
